*{
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    overflow: hidden;
}
.btn{
    font-family: inherit;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.btn:hover{
    background-color: teal;
    color: #fff;
}

.game-screen{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.game-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-title{
    text-align: center;
    font-size: 3.5rem;
}

.game-correct-ans{
    background-color: teal;
    height: 10rem;
    width: 10rem;
    border-radius: 3px;
    align-self: center;
    display: grid;
    place-items: center;
    font-size: 3.5rem;
    font-weight: bold;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.game-guess-screen{
    display: flex;
    justify-content: space-between;

}

.check-screen{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.input-number{
    font-size: 3.5rem;
    max-width: 10rem;
    font-family: inherit;
    color: #222;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 3px;
    text-align: center;
}

.check{
    width: 10rem;
}

.score-screen{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: bold;
}
.between{
    font-weight: bold;
}